.main {
    height: 40%;
    max-width: 100%;
    padding: 1rem;
}

.table-container {
    max-height: 200px;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    font-size: 11px;
}

thead th {
    position: -webkit-sticky;
    /* For Safari */
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 3px 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

.isRecording {
    background: rgb(231, 122, 122) !important;
    border-color: rgb(231, 122, 122) !important;
}