<div class="main">
    <div style="margin-bottom: 16px;">
        <button nz-button nzType="default" type="button" (click)="fileInput.click()" style="margin-bottom:'0.5rem'">
            <span>Import</span>
            <input #fileInput type="file" accept=".csv,.txt" (change)="handleFileInput($event.target)"
                style="display:none;" multiple="false" />
        </button>
    </div>
    <nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd (nzClose)="closeTab($event)"
        (nzSelectedIndexChange)="handleTabChange($event)">
        <nz-tab *ngFor="let tab of tabs; let i = index" [nzClosable]="i >=0" [nzTitle]="tab.title">
            <!-- table component swith based on tab changed -->
            <div class="table-container">
                <table *ngIf="tab?.tableData?.fields?.length>0" class="w3-table-all w3-tiny">
                    <thead>
                        <tr>
                            <th>
                                No.
                            </th>
                            <th *ngFor="let data of tab?.tableData?.fields;let headIdx=index;" key="headIdx">
                                {{data}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of tab?.tableData?.data ;let bodyIdx=index;" key="bodyIdx">
                            <td> {{bodyIdx+1}} </td>
                            <td *ngFor="let data of tab?.tableData?.fields">
                                {{user[data]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nz-tab>
    </nz-tabset>
</div>