<!-- <nz-select style="width: 100%;" nzPlaceHolder="Graph Type" [(ngModel)]="graphType.title"
                (ngModelChange)="selectGraphTypeHandler($event)">
                <nz-option *ngFor="let elem of graphList" [nzLabel]="elem.title" [nzValue]="elem.title"></nz-option>
            </nz-select> -->

<div class="tracker-main">
    <div class="selector">
        <mat-card class="ng-card">
            <mat-form-field appearance="outline" class="mat-se">
                <mat-label>Graph type</mat-label>
                <mat-select size="small" [value]="graphType?.title"
                    (selectionChange)="selectGraphTypeHandler($event.value)">
                    <mat-option *ngFor="let elem of graphList" [value]="elem.title"
                        [id]="elem.title">{{elem.title}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>
    </div>
    <!-- drag and drop -->
    <mat-card class="ng-card" *ngIf="graphHeaders?.length && graphType?.title">
        <div class="container">
            <h2>Headers</h2>
            <div cdkDropList [cdkDropListEnterPredicate]="no" id="headerList" #headerList="cdkDropList"
                [cdkDropListData]="graphHeaders" [cdkDropListConnectedTo]="[xAxisList,yAxisList,opacityList,sizeList]"
                class="drag-list" (cdkDropListDropped)="drop($event)">
                <div class="header-item" *ngFor="let item of graphHeaders" cdkDrag>{{item}}</div>
            </div>
        </div>
        <br>
        <div class="container">
            <h4>X Axis</h4>
            <div cdkDropList isPointerOverContainer id="x" #xAxisList="cdkDropList" [cdkDropListData]="axisValues.x"
                [cdkDropListConnectedTo]="[headerList]" class="drag-list axis-box"
                (cdkDropListDropped)="drop($event,'axis')">
                <div class="header-item" *ngFor="let item of axisValues.x" cdkDrag>{{item}}</div>
            </div>
        </div>
        <br>
        <div class="container" [ngStyle]="{'display' : graphType?.type!=='pie' ? '' : 'none'}">
            <h4>Y Axis</h4>
            <div cdkDropList #yAxisList="cdkDropList" id="y" [cdkDropListData]="axisValues.y"
                [cdkDropListConnectedTo]="[headerList]" class="drag-list axis-box"
                (cdkDropListDropped)="drop($event,'axis')">
                <div class="header-item" *ngFor="let item of axisValues.y" cdkDrag>{{item}}</div>
            </div>
        </div>
        <br>
        <div class="container">
            <h4>Opacity</h4>
            <div cdkDropList #opacityList="cdkDropList" id="Opacity" [cdkDropListData]="filterValues.Opacity"
                [cdkDropListConnectedTo]="[headerList]" class="drag-list axis-box"
                (cdkDropListDropped)="drop($event,'filter')">
                <div class="header-item" *ngFor="let item of filterValues.Opacity" cdkDrag>{{item}}</div>
            </div>
        </div>
        <br>
        <div class="container">
            <h4>Size</h4>
            <div cdkDropList #sizeList="cdkDropList" id="Size" [cdkDropListData]="filterValues.Size"
                [cdkDropListConnectedTo]="[headerList]" class="drag-list axis-box"
                (cdkDropListDropped)="drop($event,'filter')">
                <div class="header-item" *ngFor="let item of filterValues.Size" cdkDrag>{{item}}</div>
            </div>
            <br />
        </div>
    </mat-card>
</div>