<!-- <nz-select style="width: 100%;" nzPlaceHolder="Graph Type" [(ngModel)]="graphType.title"
                (ngModelChange)="selectGraphTypeHandler($event)">
                <nz-option *ngFor="let elem of graphList" [nzLabel]="elem.title" [nzValue]="elem.title"></nz-option>
            </nz-select> -->
<div class="tracker-main">
    <div class="selector">
        <mat-card class="ng-card">
            <mat-form-field appearance="outline" class="mat-se">
                <mat-label>Graph type</mat-label>
                <mat-select size="small" [value]="graphType?.title"
                    (selectionChange)="selectGraphTypeHandler($event.value)">
                    <mat-option *ngFor="let elem of graphList" [value]="elem.title"
                        [id]="elem.title">{{elem.title}}</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card>

        <mat-card class="ng-card" *ngIf="graphType?.type">
            <div class="axis">
                <div class="select" *ngFor="let axis of axisList;let i = index;">
                    <mat-form-field appearance="outline" class="mat-se">
                        <mat-label>{{axis.axis|uppercase}} Axis</mat-label>

                        <mat-select size="small" *ngIf="!isMultiple" name="axis.axis" [value]="axis.value"
                            (selectionChange)="selectAxisHandler($event.value, axis.axis)">
                            <mat-option *ngFor="let elem of axis.optionArray" [value]="elem" [id]="elem">
                                {{elem}}
                            </mat-option>
                        </mat-select>

                        <mat-select size="small" *ngIf="isMultiple" multiple name="axis.axis" [value]="axis.value"
                            (selectionChange)="selectAxisHandler($event.value, axis.axis)">
                            <mat-option *ngFor="let elem of axis.optionArray" [value]="elem" [id]="elem">
                                {{elem}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </mat-card>
    </div>

    <mat-card class="ng-card" *ngIf="graphType?.type">
        <div class="filters">
            <h4>Filters</h4>
            <div class="filter" *ngIf="graphType?.type">
                <div class="select" *ngFor="let filter of filteList;let i = index;">
                    <mat-form-field appearance="outline" class="mat-se">
                        <mat-label>{{filter.name}}</mat-label>
                        <mat-select size="" small [value]="filter.value"
                            (selectionChange)="selectFilterHandler($event.value, filter.name)">
                            <mat-option *ngFor="let elem of filter.optionArray" [value]="elem"
                                [id]="elem">{{elem}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<!-- <form [formGroup]="trackerField" class="tracker-main">
    <nz-card *ngFor="let elem of fieldList" nzTitle={{elem?.title}}>
        <div formGroupName={{elem.group}}>
            <div class="form-group">
                <div *ngFor="let field of elem.child">
                    <nz-select style="width: 100%;" nzMode="tags" nzPlaceHolder={{field.placeholder}}
                        class="form-control" formControlName={{field.name}}>
                        <nz-option *ngFor="let option of field.optionArray" [nzLabel]="option"
                            [nzValue]="option"></nz-option>
                    </nz-select>
                </div>
            </div>
        </div>
    </nz-card>

</form> -->